.left-container {
  display: grid;
  grid-template-rows: auto 1fr ;
  gap: 20px;
  justify-content: center;
  padding: 30px 30px;

  width: 650px;
}

.weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-item .input-container {
  height: 55px;
  width: 100%;
}

.weather-item .input-container input {
  font-size: 1.1rem;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 20px;
  outline: none;
  padding: 10px 10px 10px 15px;
}

.weather-item .input-container input:focus {
  border: 2px solid #748cf1;
}

.weather-item .weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.weather-item .weather-icon img {
  width: 120px;
}

.weather-item .weather-temp {
  font-size: 2.5rem;
}

.weather-item .datetime {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

:is(.weather-temp, .weather-condition, .datetime, .address) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.left-container .weather-item .separator {
  width: 50%;
  height: 5px;
  border-radius: 10px;
  background-color: lightgray;
  margin-top: 15px;
}




